<div class="bg-gray-100 min-h-screen py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-4xl font-bold text-primary">Products</h2>
      <a
        href="/admin/products/create"
        class="bg-primary text-white px-6 py-3 rounded-lg shadow-lg font-semibold hover:bg-primary-dark transition duration-300"
        >Add New Product</a
      >
    </div>

    <div class="overflow-hidden rounded-lg shadow-lg mt-8">
      <table class="min-w-full bg-white">
        <thead>
          <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-6 py-3 text-left">Name</th>
            <th class="px-6 py-3 text-left">Type</th>
            <th class="px-6 py-3 text-left">Watt</th>
            <th class="px-6 py-3 text-left">Model</th>
            <th class="px-6 py-3 text-left">Price</th>
            <th class="px-6 py-3 text-left">Service Fee</th>
            <th class="px-6 py-3 text-left">Quantity</th>
            <th class="px-6 py-3 text-left">Action</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-medium">
          <% products.forEach(product => { %>
          <tr class="border-b hover:bg-gray-100 transition duration-200">
            <td class="px-6 py-4"><%= product.name %></td>
            <td class="px-6 py-4"><%= product.type %></td>
            <td class="px-6 py-4"><%= product.watt %></td>
            <td class="px-6 py-4"><%= product.model %></td>
            <td class="px-6 py-4"><%= product.price %></td>
            <td class="px-6 py-4"><%= product.serviceFee %></td>
            <td class="px-6 py-4"><%= product.quantity %></td>
            <td class="px-6 py-4 flex space-x-2">
              <a
                href="/admin/products/<%= product.id %>/edit"
                class="bg-yellow-500 text-white px-4 py-2 rounded-lg shadow transition duration-300 hover:bg-yellow-600"
                >Edit</a
              >
              <a
                href="/admin/products/<%= product.id %>/"
                class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow transition duration-300 hover:bg-gray-600"
                >View</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
